* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* box-shadow: inset 0 -3px transparent; */
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 0px 15px;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #6c7086;
}

#workspaces button.urgent {
  background-color: #f38ba8;
  box-shadow: inherit;
  text-shadow: inherit
}

#memory,
#pulseaudio,
#network,
#clock,
#cpu,
#tray {
  margin: 0px 0px;
  padding: 0px 12px;
  color: #cdd6f4;

}
#custom-power {
  margin-right: 6px;
}

#custom-logo {
   padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

#network {
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
